
:root {
  --primary-color: #137fec;
}

@media (max-width: 640px) {
  .time-input {
    font-size: 2rem; /* Smaller font on mobile */
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.date-btn.active {
  background-color: #e0f2fe;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.time-btn.active {
  background-color: var(--primary-color);
  color: white;
}

.time-btn:not(.active) {
  background-color: white;
  color: #374151;
}
